<!-- Element to select a class for a container -->

<!-- Dropdown input form -->
<md-input-container class="md-block" flex-gt-sm="">
    <label>Object class</label>
    <md-select ng-model="ngModel">
        <md-option ng-repeat="class in objectClasses" value="{{ class }}">
            {{ class }}
        </md-option>
    </md-select>
</md-input-container>

<!-- Control buttons -->
<md-button ng-click="createNewObjectClass()" class="md-raised">
    <span class="glyphicon glyphicon-plus"></span>
    Add
</md-button>

<md-button ng-click="editObjectClass()" ng-disbaled="" class="md-raised">
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
</md-button>

<md-button ng-click="deleteObjectClass()" ng-disabled="" class="md-raised md-warn">
    <span class="glyphicon glyphicon-trash"></span>
    Delete
</md-button>