<div layout="row" layout-xs="column">


    <div layout="column" flex="50" flex-xs="90">

        <div class="md-whiteframe-4dp bb-container">
            <md-toolbar class="md-hue-2">
                <div class="md-toolbar-tools">
                    <h2>
       <span>
        TPM (Trusted Platform Module) Integration
       </span>
                    </h2>
                </div>
            </md-toolbar>
            <md-content class="bb-container">
                <p>
                    SDOS can use a hardware TPM in order to store the deletable keys for certain containers.
                </p>
                <md-card>
                    <md-card-title>
                        <b>TPM status</b>
                    </md-card-title>
                    <md-card-content>
                        <pre><code>{{ tpm_status }}</code></pre>
                    </md-card-content>
                </md-card>
                <md-button class="md-raised md-primary" ng-click="unlock_tpm()">Unlock TPM</md-button>
                <md-button class="md-raised md-warn" ng-click="lock_tpm()">Lock TPM</md-button>
            </md-content>
        </div>


        <div class="md-whiteframe-4dp bb-container">
            <md-toolbar class="md-hue-2">
                <div class="md-toolbar-tools">
                    <h2>
       <span>
        Session token
       </span>
                    </h2>
                </div>
            </md-toolbar>
            <md-content class="bb-container">
                <p>
                    The SDOS
                    back end gives us a token that identifies our session after successful authentication. Currently,
                    SDOS
                    has no way of invalidating these tokens; we
                    can only forget them in order to log out.
                </p>
                <p>
                    Your current token is:
                    <code>
                        {{ tokenText }}
                    </code>
                </p>
                <md-button class="md-raised md-warn" ng-click="forgetToken()">
                    <md-icon md-font-set="material-icons">
                        clear
                    </md-icon>
                    Forget authentication token
                </md-button>
            </md-content>
        </div>


    </div>


    <div class="md-whiteframe-4dp bb-container" flex="50" flex-xs="90">
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <h2>
       <span>
        Connection details
       </span>
                </h2>
            </div>
        </md-toolbar>
        <md-content class="bb-container">
            <p>
                You can connect to the back end using any Swift client. The following shows you the contents of an
                OpenStack rc file.
                Save this as a shell script and <q>source</q> it in order to set environment variables. Most CLI
                Swift/OpenStack clients will work this way.
            </p>


            <md-card>
                <md-card-title>
                    <b>sdos_openrc.sh</b>
                </md-card-title>
                <md-card-content>
                    <pre><code>{{ rcFileContent }}</code></pre>
                </md-card-content>
            </md-card>
            <md-button class="md-raised" ng-href="/api_account/openrc_file" target="_blank">
                <md-icon md-font-set="material-icons">
                    file_download
                </md-icon>
                Download openrc.sh file
            </md-button>
            <p>
                Available clients include:
            <ul>
                <li>python-swiftclient, a general purpose Swift CLI tool: <a
                        href="https://github.com/openstack/python-swiftclient" target="_blank">https://github.com/openstack/python-swiftclient</a>
                </li>
                <li>ssbench, a Swift benchmarking tool: <a href="https://github.com/swiftstack/ssbench" target="_blank">https://github.com/swiftstack/ssbench</a>
                </li>

            </ul>
            </p>

        </md-content>
    </div>


</div>