<div class="modal-header alert-warning">
    <h3 class="modal-title">
        <span class="glyphicon glyphicon-alert"></span>
        Rename object class
    </h3>
</div>
<div class="modal-body">
    <p>
        You are about to rename the object class "{{ oldName }}" into "{{ newName }}".
        This may cause containers to lose their object class if they are referencing to "{{ oldName }}".
        Do you want to keep the old object class for backwards compatibility?
    </p>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="keep()">
        <span class="glyphicon glyphicon-ok"></span>
        Keep "{{ oldName }}"
    </button>
    <button class="btn btn-danger" type="button" ng-click="delete()">
        <span class="glyphicon glyphicon-remove"></span>
        Delete "{{ oldName }}"
    </button>
    <button class="btn btn-primary" type="button" ng-click="cancel()">
        <span class="glyphicon glyphicon-ban-circle"></span>
        Cancel
    </button>
</div>