<html>
<head>
</head>
<body>
<div>

    <div layout="row">
        <div flex="10">
            <!-- Top buttons -->
            <md-button aria-label="Back to container list" class="md-fab bb-pin-button md-hue-3" ui-sref="fileSystemState()">
                <md-tooltip md-direction="right">
                    Back to container list
                </md-tooltip>
                <md-icon md-font-set="material-icons">
                    chevron_left
                </md-icon>
            </md-button>

            <md-button aria-label="Identify content types" class="md-fab md-mini md-hue-1" ui-sref="tasksState({container: container.name, task: 'identify_content'})">
                <md-tooltip md-direction="right">
                    Identify content types
                </md-tooltip>
                <md-icon md-font-set="material-icons">
                    flag
                </md-icon>
            </md-button>

            <md-button aria-label="Extract metadata" class="md-fab md-mini md-hue-1" ui-sref="tasksState({container: container.name, task: 'extract_metadata'})">
                <md-tooltip md-direction="right">
                    Extract metadata
                </md-tooltip>
                <md-icon md-font-set="material-icons">
                    format_indent_increase
                </md-icon>
            </md-button>

            <md-button aria-label="Replicate metadata to warehouse" class="md-fab md-mini md-hue-1" ui-sref="tasksState({container: container.name, task: 'replicate_metadata'})">
                <md-tooltip md-direction="right">
                    Replicate metadata to warehouse
                </md-tooltip>
                <md-icon md-font-set="material-icons">
                    reply
                </md-icon>
            </md-button>

            <md-button aria-label="Dispose old objects" class="md-fab md-mini md-hue-1" ui-sref="tasksState({container: container.name, task: 'dispose'})">
                <md-tooltip md-direction="right">
                    Dispose old objects
                </md-tooltip>
                <md-icon md-font-set="material-icons">
                    delete_sweep
                </md-icon>
            </md-button>

        </div>

        <div flex="" flex ng-if="!container.isMeta">
            <div class="md-whiteframe-4dp bb-container">
                <md-toolbar class="md-hue-2">
                    <div class="md-toolbar-tools">
                        <h2>
        <span>
         Upload new objects
        </span>
                        </h2>
                    </div>
                </md-toolbar>
                <md-content class="bb-container">


                    <form name="uploadForm" ng-show="!isGetObjectClassRequestPending" ng-submit="uploadObjects()">
                        <!-- FILE UPLOAD -->
                        <div ngf-no-file-drop="">
                            Sorry, file drag/drop is not supported in this browser
                        </div>
                        <div layout="row">
                            <div flex="30" accept="*" class="drop-box" ng-model="fileModel.files" ngf-allow-dir="true"
                                 ngf-drag-over-class="'dragover'" ngf-drop="" ngf-multiple="true" ngf-pattern="'*'"
                                 ngf-select="">
                                Drop files here or click to open select dialog
                            </div>
                            <div flex="70">
                                <ul class="md-body-1">
                                    <li ng-repeat="f in fileModel.files">
                                        {{ f.name }}
                                        <div ng-show="f.uploadProgress.hasError">
                                            <b>{{ f.uploadProgress.hasError }}</b>
                                        </div>
                                        <div ng-show="f.uploadProgress.percentage">
                                            {{ f.uploadProgress.percentage }} % ({{ f.uploadProgress.loaded | bytes }}
                                            / {{ f.uploadProgress.total | bytes }})
                                            <md-icon ng-show="f.uploadProgress.hasError" class="md-mini md-warn"
                                                     md-font-set="material-icons">
                                                error
                                            </md-icon>
                                            <md-icon ng-show="f.uploadProgress.hasSuccess" class="md-mini"
                                                     md-font-set="material-icons">
                                                check
                                            </md-icon>
                                        </div>
                                        <md-progress-linear ng-class="{'md-warn': f.uploadProgress.hasError}"
                                                            md-mode="determinate"
                                                            ng-show="f.uploadProgress.percentage"
                                                            value="{{ f.uploadProgress.percentage }}">
                                        </md-progress-linear>
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <div layout="row" ng-hide="!fileModel.files">
                            <div>
                                <h3>Set retention date</h3>
                        <span>
                        <md-datepicker ng-model="fileModel.retentionDate" md-placeholder="No retention">
                        </md-datepicker></span>
                            </div>
                        </div>

                        <div layout="row" layout-fill ng-hide="!fileModel.files || !objectClassModel.name">
                            <div flex>
                                <h3>Set fields from object class <q>{{ objectClassModel.name }}</q></h3>
                                <span class="md-body-1">(Click on a field to insert suggested default value)</span>


                                <md-list>
                                    <md-list-item ng-repeat="ocField in objectClassModel.metadataFields">

                                        <!--    ############################################ -->
                                        <!--    1) Name -->
                                        <md-input-container flex>
                                            <label>
                                                {{ ocField.name }}
                                            </label>
                                            <input ng-model="fileModel.metadata[ocField.name]"
                                                   placeholder="{{ ocField.default }}"
                                                   ng-click="(!fileModel.metadata[ocField.name]) ? fileModel.metadata[ocField.name] = ocField.default : ''"
                                                   type="text"/>
                                        </md-input-container>
                                    </md-list-item>
                                </md-list>


                            </div>
                        </div>
                        <div layout="row" layout-align="space-between center">
                            <p>
                                <md-button class="md-raised md-primary" type="submit">
                                    <md-icon md-font-set="material-icons">
                                        cloud_upload
                                    </md-icon>
                                    Upload
                                </md-button>

                                <md-button ng-hide="!fileModel.files" class="md-flat" ng-click="fileModel = undefined">
                                    <md-icon md-font-set="material-icons">
                                        clear
                                    </md-icon>
                                    Clear
                                </md-button>
                            </p>
                        </div>

                    </form>
                </md-content>
            </div>

        </div>

        <div flex ng-if="container.isSdos">
            <sdos-details container="container">
            </sdos-details>
        </div>
        <div flex="50" ng-if="container.isMeta">
            <mcm-meta-container>
            </mcm-meta-container>
        </div>


        <div flex="10"></div>

    </div>


    <!-- Card which lists all objects in this container -->
    <div class="md-whiteframe-4dp bb-container" flex="">
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <h2>
       <span>
        Listing {{ container.metadata.objectCount | numberFormat }} objects in
        <q>{{ container.name }}</q>
       </span>
                </h2>
            </div>
        </md-toolbar>
        <md-content class="bb-container">
            <section layout="row">
                <!-- ###################################################################### -->
                <!-- Select columns -->
                <!-- ###################################################################### -->
                <md-menu>
                    <md-button class="md-fab md-mini md-hue-1" ng-click="openColumnsMenu($mdOpenMenu, $event)">
                        <md-tooltip md-direction="bottom">
                            Add table column
                        </md-tooltip>
                        <md-icon md-font-set="material-icons">
                            add
                        </md-icon>
                    </md-button>
                    <md-menu-content width="2">
                        <!-- INTERNAL MD MENU -->
                        <md-menu-item>
                            <md-menu md-offset="60 0">
                                <md-button ng-click="">
                                    Internal
                                </md-button>
                                <md-menu-content width="4">
                                    <md-menu-item ng-repeat="field in availableInternalMetadataFields">
                                        <md-button ng-click="addInternalMenuColumn(field)">
                                            {{ field }}
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </md-menu-item>
                        <!-- EXTRACTOR MD MENU -->
                        <md-menu-divider>
                        </md-menu-divider>
                        <md-menu-item>
                            <md-button disabled="disabled" ng-click="">
                                <b>
                                    Content management
                                </b>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item ng-repeat="(key, valueList) in availableMetadataFields">
                            <md-menu md-offset="60 0">
                                <md-button ng-click="">
                                    {{ key }}
                                </md-button>
                                <md-menu-content width="4">
                                    <md-menu-item ng-repeat="val in valueList">
                                        <md-button ng-click="addMenuColumn(key, val)">
                                            {{ val }}
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <!-- ###################################################################### -->
                <!-- Text input to filter objects -->
                <!-- ###################################################################### -->
                <md-input-container class="md-icon-float md-block" flex-gt-sm="">
                    <label>
                        Filter objects by prefix
                    </label>
                    <md-icon md-font-set="material-icons">
                        filter_list
                    </md-icon>
                    <input ng-change="getObjects(true)" ng-model="prefix"/>
                </md-input-container>
            </section>
            <!-- ###################################################################### -->
            <!-- Table -->
            <!-- ###################################################################### -->
            <md-table-container>
                <table class="bb-table" md-table="" ng-model="container.objects">
                    <thead md-head="">
                    <tr md-row="">
                        <th class="bb-table-icon-col" md-column="">
                        </th>
                        <th md-column="">
                            <h3>
                                Name
                            </h3>
                        </th>
                        <th md-column="" ng-repeat="field in selectedMetadataFields">
                            <h3>
                                {{ field | metaPrefix }}
                                <md-button class="md-icon-button md-warn" ng-click="removeMenuColumn(field)">
                                    <md-icon md-font-set="material-icons">
                                        close
                                    </md-icon>
                                </md-button>
                            </h3>
                        </th>
                        <th md-column="" ng-repeat="field in selectedInternalMetadataFields">
                            <h3>
                                {{ field }}
                                <md-button class="md-icon-button md-warn" ng-click="removeInternalMenuColumn(field)">
                                    <md-icon md-font-set="material-icons">
                                        close
                                    </md-icon>
                                </md-button>
                            </h3>
                        </th>
                    </tr>
                    </thead>
                    <tbody md-body="">
                    <tr md-row="" ng-repeat="object in container.objects">
                        <td class="bb-icon-column" md-cell="">
                            <md-tooltip md-direction="top">
                                Preview object
                            </md-tooltip>
                            <a ng-href="/swift/containers/{{ container.name }}/objects/{{ object.name | urlEncode }}?show_inline=true"
                               target="_blank">
                                <md-icon md-font-set="material-icons">
                                    {{ object.content_type | fileTypeIcon }}
                                </md-icon>
                            </a>
                        </td>
                        <td class="bb-table-col" md-cell="" ng-click="showDetailSheet($event, object)">
                            <md-tooltip md-direction="top">
                                Show details
                            </md-tooltip>
                            {{ object.name }}
                        </td>
                        <td class="bb-table-col" md-cell="" ng-repeat="field in selectedMetadataFields">
                            {{ object.details[field] }}
                        </td>
                        <td class="bb-table-col" md-cell="" ng-repeat="field in selectedInternalMetadataFields">
                            {{ field == "bytes" ? (object[field] | bytes) : object[field]}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>
            <div in-view="$inview&amp;&amp;getObjects()" layout="row" layout-align="space-around" layout-sm="column">
                <h3>
       <span ng-hide="isAllDataLoaded">
        <md-icon md-font-set="material-icons">
         mouse
        </md-icon>
        Scroll further down to load more objects.
       </span>
                </h3>
            </div>
            <br/>
        </md-content>
    </div>
</div>


</body>
</html>