<div class="md-whiteframe-4dp bb-container">
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <h2>
        <span>
                        <md-icon md-font-set="material-icons">
                        lock_outline
                    </md-icon>&nbsp;
         Content encryption
        </span>
            </h2>
        </div>
    </md-toolbar>
    <md-content class="bb-container">

        <div layout="column">
            <div>
                <p>Encryption-only container. No key management, a single master key for all objects. Master key is
                    stored encrypted by a key source.</p>

                <p>Master key available: <b
                        ng-style="sdos_cascade_stats.masterKeySource.is_unlocked && {'color': 'green'} || {'color': 'red'}">{{ sdos_cascade_stats.masterKeySource.is_unlocked }}</b>


                    <md-button ng-hide="sdos_cascade_stats.masterKeySource.is_unlocked"
                               class="md-raised md-primary"
                               ng-click="unlockMasterKey()">Unlock master key
                    </md-button>

                    <md-button ng-hide="!sdos_cascade_stats.masterKeySource.is_unlocked"
                               class="md-raised md-warn" ng-click="lockMasterKey()">Lock master key
                    </md-button>

                    <br>Master key hash: <b
                            ng-style="{ 'mix-blend-mode': 'difference',  'color': 'black', 'background': sdos_cascade_stats.masterKeySource.keyIdColor }">{{ sdos_cascade_stats.masterKeySource.key_id }}</b>

                    <br>Master key encrypted by: <b>{{ sdos_cascade_stats.masterKeySource.type }}</b>
                </p>
            </div>

        </div>
    </md-content>
</div>
