<html>
<head>
    <link href="/angular/css/cascade.css" rel="stylesheet" type="text/css"/>
</head>
<body>


<md-dialog aria-label="Key Cascade visualization" ng-cloak="" flex="90">
    <md-toolbar>
        <div class="md-toolbar-tools">
     <span>
      Key Cascade visualization
     </span>
            <span flex="">
     </span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-font-set="material-icons">
                    close
                </md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="bb-margin">

        <div ng-if="!isRenderComplete">
            <h3>Collecting data... </h3>
            <md-progress-circular class="md-warn" md-mode="indeterminate"
                                  md-diameter="80"></md-progress-circular>
        </div>

        <div layout="row" layout-xs="column">
            <div flex id="cascadeRendering"></div>
            <div flex>


                <md-card>
                    <md-card-title>
                        <h3>Icon legend</h3>
                    </md-card-title>

                    <md-card-content>


                        <p><img src="/angular/icons/d3/masterkey.svg" class="bbSmallIcon">Master key, <img
                                src="/angular/icons/d3/masterkey_new.svg" class="bbSmallIcon">New master key, <img
                                src="/angular/icons/d3/deletable_key.svg" class="bbSmallIcon">Deletable key</p>
                        <p><img src="/angular/icons/d3/key_closed.svg" class="bbSmallIcon">Node key, <img
                                src="/angular/icons/d3/pluskey.svg" class="bbSmallIcon">New
                            node key, <img src="/angular/icons/d3/key_object.svg" class="bbSmallIcon">Object key</p>
                        <p><img src="/angular/icons/d3/selected_key.svg" class="bbSmallIcon"><img
                                src="/angular/icons/d3/selected_file.svg" class="bbSmallIcon">Path
                            to
                            requested object, <img src="/angular/icons/d3/key_object_delete.svg"
                                                   class="bbSmallIcon"><img
                                    src="/angular/icons/d3/plusfile_delete.svg" class="bbSmallIcon">Marked for deletion
                        </p>
                        <p><img src="/angular/icons/d3/plusfile.svg" class="bbSmallIcon">Object / File, <img
                                src="/angular/icons/d3/scroll_up.svg" class="bbSmallIcon"><img
                                src="/angular/icons/d3/scroll_down.svg" class="bbSmallIcon">Scroll through large
                            nodes</p>
                    </md-card-content>
                </md-card>


                <md-card>
                    <md-card-title>
                        <h3>Animation controls</h3>
                    </md-card-title>

                    <md-card-content>


                        <p>The animation shows the steps for cascaded re-keying (this only works when there are entries
                            in the delete log)</p>
                        <p>
                            <md-button class="md-raised" ng-click="run_animation_step()">
                                <md-icon md-font-set="material-icons">
                                    play_arrow
                                </md-icon>
                                Single step
                            </md-button>

                            <md-button class="md-raised" ng-click="run_animation_autorun()">
                                <md-icon md-font-set="material-icons">
                                    playlist_play
                                </md-icon>
                                Autorun
                            </md-button>
                        </p>
                    </md-card-content>
                </md-card>


                <md-card ng-style="current_animation_step > 0 && {'background': 'linen'}">
                    <md-card-title>
                        <h3>Cascaded re-keying steps</h3>
                    </md-card-title>

                    <md-card-content>


                        <ol>
                            <li ng-style="current_animation_step == 1 && {'color': 'darkred', 'font-weight': 'bold', 'font-size': '1.2em'}">
                                SDOS scans the delete log and finds all the paths to those objects
                            </li>
                            <li ng-style="current_animation_step == 2 && {'color': 'darkred', 'font-weight': 'bold', 'font-size': '1.2em'}">
                                The Key-Source deletes and replaces its deletable key
                            </li>
                            <li ng-style="current_animation_step == 3 && {'color': 'darkred', 'font-weight': 'bold', 'font-size': '1.2em'}">
                                SDOS generates a new master key and encrypts it with the new deletable key
                            </li>
                        </ol>
                    </md-card-content>
                </md-card>

            </div>

        </div>
    </md-dialog-content>
</md-dialog>
</body>
</html>