<div class="md-whiteframe-4dp bb-container">
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <h2>
        <span>
                        <md-icon md-font-set="material-icons">
                        enhanced_encryption
                    </md-icon>&nbsp;
         SDOS encrypted container
        </span>
            </h2>
        </div>
    </md-toolbar>
    <md-content class="bb-container">

        <div layout="column">


            <div>


                <p>Master key available: <b
                        ng-style="sdosStats.masterKeySource.is_unlocked && {'color': 'green'} || {'color': 'red'}">{{ sdosStats.masterKeySource.is_unlocked }}</b>
                </p>
                <p ng-hide="sdosStats.masterKeySource.is_unlocked">
                    <md-button class="md-raised md-primary" ng-click="unlockMasterKey()">Unlock master key: provide current deletable key</md-button>
                </p>
                <p ng-hide="!sdosStats.masterKeySource.is_unlocked">
                    <md-button class="md-raised md-warn" ng-click="lockMasterKey()">Lock master key</md-button>
                </p>
                <p>Master key ID: <b ng-style="{ 'mix-blend-mode': 'difference',  'color': 'black', 'background': sdosStats.masterKeySource.keyIdColor }">{{ sdosStats.masterKeySource.key_id }}</b></p>
                <p>Master key secured by: <b>{{ sdosStats.masterKeySource.type }}</b></p>
                <p>Next deletable key available: <b
                        ng-style="sdosStats.masterKeySource.is_next_deletable_ready && {'color': 'green'} || {'color': 'red'}">{{ sdosStats.masterKeySource.is_next_deletable_ready }}</b>
                </p>
                <p ng-hide="sdosStats.masterKeySource.is_next_deletable_ready">
                    <md-button class="md-raised md-primary" ng-click="provideNextDeletable()">Provide next deletable key</md-button>
                </p>


            </div>

            <md-divider></md-divider>
            <div>
                <p>Utilization: <b>{{ sdosStats.utilization }}</b>
                    <br>
                    <br>Keys used: <b>{{ sdosStats.numObjects | numberFormat }}</b>
                    <br>Keys free: <b>{{ sdosStats.freeSlots | numberFormat }}</b>
                    <br>Keys total: <b>{{ sdosStats.numSlots| numberFormat }}</b>
                    <br>
                    <br>Num partitions max: <b>{{ sdosStats.numPartitions| numberFormat }}</b>
                    <br>Keys in one partition: <b>{{ sdosStats.partitionSize }}</b>
                    <br>
                    <br>Tree height: <b>{{ sdosStats.levels }}</b></p>
            </div>
            <div>
                <p>
                    <md-button aria-label="Show Key Cascade" class="md-raised" ng-click="showCascadeSheet($event)">
                        <md-icon md-font-set="material-icons">
                            filter_b_and_w
                        </md-icon>
                        Show Key Cascade structure
                    </md-button>

                    <md-button aria-label="Show key slot allocation" class="md-raised"
                               ng-click="showMappingSheet($event)">
                        <md-icon md-font-set="material-icons">
                            gradient
                        </md-icon>
                        Show key slot allocation
                    </md-button>
                </p>
            </div>






        </div>
    </md-content>
</div>
