<html>
<head>
    <link href="/angular/css/cascade.css" rel="stylesheet" type="text/css"/>
</head>
<body>


<md-dialog aria-label="Key Cascade visualization" ng-cloak="" flex="90">
    <md-toolbar>
        <div class="md-toolbar-tools">
     <span>
      Key Cascade visualization
     </span>
            <span flex="">
     </span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-font-set="material-icons">
                    close
                </md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="bb-margin">

        <div ng-if="!isRenderComplete">
            <h3>Collecting data... </h3>
            <md-progress-circular class="md-warn" md-mode="indeterminate"
                                  md-diameter="80"></md-progress-circular>
        </div>


        <div>
            <div id="cascadeRendering"></div>
            <button id="zoom_in">+</button>
            <button id="zoom_out">-</button>
        </div>

        <div ng-if="sdosStats">
            <h3>sdosStats</h3>
            <p class="bbAllocBlocks">{{ sdosStats }}</p>
        </div>

        <h3>sdosUsedPartitions</h3>
        <md-input-container>
            <md-switch ng-model="showPartitions" aria-label="Show used partitions">
                Show used partitions
            </md-switch>
        </md-input-container>

        <div ng-if="sdosUsedPartitions && showPartitions">

            <p class="bbAllocBlocks">{{ sdosUsedPartitions }}</p>
        </div>

        <h3>sdosPartitionMapping</h3>
        <md-input-container>
            <md-switch ng-model="showMapping" aria-label="Show partition mapping">
                Show partition mapping
            </md-switch>
        </md-input-container>

        <div ng-if="sdosPartitionMapping && showMapping">

            <p class="bbAllocBlocks">{{ sdosPartitionMapping }}</p>
        </div>


    </md-dialog-content>
</md-dialog>
</body>
</html>