<div class="md-whiteframe-4dp bb-container">
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <h2>
        <span>
         SDOS encrypted container
        </span>
            </h2>
        </div>
    </md-toolbar>
    <md-content class="bb-container">
        <div flex layout="row">
            <div flex="">
                <ul>
                    <li ng-repeat="(k, v) in sdosStats"><b>{{ k }}:</b> {{ v | numberFormat }}</li>

                </ul>
            </div>
            <div flex="">
                <md-icon md-font-set="material-icons" class="bb-huge-icon">
                    enhanced_encryption
                </md-icon>

            </div>
        </div>
        <p>
            <md-button aria-label="Show Key Cascade" class="md-raised md-primary" ng-click="showCascadeSheet($event)">
                <md-icon md-font-set="material-icons">
                    filter_b_and_w
                </md-icon>
                Show Key Cascade structure
            </md-button>

            <md-button aria-label="Show key slot allocation" class="md-raised md-primary"
                       ng-click="showMappingSheet($event)">
                <md-icon md-font-set="material-icons">
                    gradient
                </md-icon>
                Show key slot allocation
            </md-button>

        </p>

    </md-content>
</div>
