<md-dialog aria-label="Key Cascade visualization" ng-cloak="">
    <md-toolbar>
        <div class="md-toolbar-tools">
     <span>
      Key Cascade visualization
     </span>
     <span flex="">
     </span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-font-set="material-icons">
                    close
                </md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="bb-margin">


        <div ng-if="!sdosCascadeStructure">
            <h3>Collecting data... </h3>
            <md-progress-circular class="md-warn" md-mode="indeterminate"
                                  md-diameter="80"></md-progress-circular>
        </div>



        <div ng-if="sdosCascadeStructure">
            <p>{{ sdosCascadeStructure }}</p>
        </div>

    </md-dialog-content>
</md-dialog>