<md-dialog aria-label="Key Cascade object key allocation" ng-cloak="">
    <md-toolbar>
        <div class="md-toolbar-tools">
     <span>
      Key Cascade object key allocation
     </span>
     <span flex="">
     </span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-font-set="material-icons">
                    close
                </md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="bb-margin">

        <h3>Select detail level</h3>
        <md-input-container>
            <label>Number of blocks</label>
            <md-select ng-model="slotBlockCount" md-on-close="getSdosSlotAllocation()">
                <md-option ng-repeat="bc in availableSlotBlockCounts" value="{{ bc }}">
                    {{ bc }}
                </md-option>
            </md-select>
        </md-input-container>


        <div ng-if="!sdosSlotAllocation">
            <h3>Collecting data... </h3>
            <md-progress-circular class="md-warn" md-mode="indeterminate" md-diameter="80"></md-progress-circular>
        </div>

        <div ng-if="sdosSlotAllocation">
            <h3>Allocation</h3>
            Scale:
            <p class="bbAllocBlocks" ng-bind-html=" '0123456789' | paintBlocks"></p>
            <p>Each number represents a block of {{ sdosSlotAllocation.groupSize | numberFormat }} key slots.
                Numbers 0 through 9 indicate how many slots are used in that block; with 0 all slots are empty and with
                9 all are utilized.
                Note that these <q>blocks</q> are only used here for visualizing allocation. They don't align with key
                partitions or anything.</p>
            <div class="bbAllocBlocks" ng-bind-html="sdosSlotAllocation.alloc | paintBlocks">
            </div>
        </div>
    </md-dialog-content>
</md-dialog>