<!-- Dialog to make sure if the user really wants to delete given object -->
<md-toolbar class="md-warn">
    <div class="md-toolbar-tools">
         <h2 class="md-flex">
             <span class="glyphicon glyphicon-trash"></span>
             <strong>
                 Delete {{ item.type }}?
             </strong>
         </h2>
    </div>
</md-toolbar>

<md-content layout-padding="">
    <div class="md-dialog-content">
        <p>
           Do you really want to delete the {{ item.type }} "{{ item.name }}"?
        </p>
    </div>
</md-content>

<div layout="row" layout-sm="column" layout-align="center">
    <!-- Delete Button -->
    <md-button flex="50" class="md-raised md-warn"  ng-click="confirm()">
        <span class="glyphicon glyphicon-trash"></span>
        Delete
    </md-button>

    <!-- Cancel Button -->
    <md-button flex="50" class="md-raised" ng-click="cancel()">
        <span class="glyphicon glyphicon-remove"></span>
        Cancel
    </md-button>
</div>