h2 {
	color: white;
}

.bb-container {
	margin: 1em;
}

.bb-margin {
	margin: 1em;
}

.bb-table-col {
	 word-wrap:break-word;
}

.sticky-return {
    z-index: 70 !important;
}

.bb-table-icon-col {
	width: 1em;
}

.bb-table {
	table-layout: fixed;
}

table.md-table tbody.md-body > tr.md-row {
	height: 2em;
}