
<div class="panel panel-default">
	<div class="panel-heading">
		<h2>BB-Insights</h2>
	</div>
	<div class="panel-body">


		<div class="panel panel-info">
			<div class="panel-heading">
				<h4><b>Step 1:</b> Open the Node-RED editor and create your queries</h4>
			</div>
			<div class="panel-body">
				<p>BB-Insights comes with a Node-RED instance that is connected
					to your metadata warehouse. You can create SQL queries, pull in
					external data sources, and use JavaScript functions to analyze your data and prepare it for visualization.</p>
				<p>After you have created your flow in Node-RED, turn it into a data
					source for BB-Insights. Use the HTTP node to create an endpoint,
					connect your query to the HTTP node, and give it any URL and name
					you like.</p>

				<p>Check out the included examples in Node-RED to get an idea.
					When you're done, come back here.</p>

				<p>
					Don't forget to hit <i>"Deploy"</i> in Node-Red.
				</p>
				<a type="button" class="btn btn-info" target="_blank"
					ng-href="{{nodered.url}}">Open the Node-RED editor</a>
			</div>
		</div>

		<div class="panel panel-info">
			<div class="panel-heading">
				<h4><b>Step 2:</b> Select your Node-RED data source</h4>
			</div>
			<div class="panel-body">
				<p>The following list shows all your endpoints from Node-RED.
					Select the one you want to use for this analysis.</p>


				<div class="dropdown">
					<button class="btn btn-info dropdown-toggle" type="button"
						id="sourceSelector" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="true" ng-click="updateNodeRedSources()">
						{{selectedSource.url}} <b>{{selectedSource.name}}</b>
						{{selectedSource.initialLabel}}<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" aria-labelledby="sourceSelector">
						<li ng-repeat="s in availableSources track by s.url"><a
							href="#" ng-click="selectSource(s)">{{s.url}} <b>{{s.name}}</b></a></li>

					</ul>
				</div>



				<!-- 				<div class="input-group"> -->
				<!-- 					<span class="input-group-addon" id="basic-addon1">{{nodered.url}}/</span> -->
				<!-- 					<input id="noderedUrlField" type="text" class="form-control" placeholder="endpoint name" -->
				<!-- 						aria-describedby="basic-addon1" ng-model="nrDataSource"> -->
				<!-- 				</div> -->



			</div>
		</div>


		<div class="panel panel-info">
			<div class="panel-heading">
				<h4><b>Step 3:</b> Select a suitable visualization for your data</h4>
			</div>
			<div class="panel-body">
				<p>BB-insights uses Bokeh and D3.js to visualize your data. You
					can now choose which type of visualization you want to use.</p>
				<p>Each type supports different data structures. All data from
					Node-RED has to come in tables or matrixes, the different
					visualization types support different amounts of rows and columns.</p>

				<button type="button" class="btn btn-success"
					ng-disabled="!selectedSource.url" ng-click="drawPlot('bar')">
					<span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
					<p>Bar graph</p>
					<p>* rows, 1 column</p>
				</button>
				<button type="button" class="btn btn-success"
					ng-disabled="!selectedSource.url" ng-click="drawPlot('2bar')">
					<span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
					<p>2 Bar graphs</p>
					<p>* rows, 2 columns</p>
				</button>

			</div>
		</div>


		<link href="/angular/css/bokeh-0.11.1.min.css" rel="stylesheet"
			type="text/css">
		<link href="/angular/css/bokeh-widgets-0.11.1.min.css"
			rel="stylesheet" type="text/css">

		<!-- Import doesn't work here; just left as a TODO... currently the import is happening in the header in index.html -->
		<!-- <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.11.0.min.js"></script> -->


		<div class="panel panel-success" ng-hide="!bbplot">
			<div class="panel-heading">
				<h4><b>Your results</b></h4>
			</div>
			<div class="panel-body" ng-bind-html="bbplot | to_trusted"></div>
		</div>




	</div>
</div>