<html>
    <body>
        <md-dialog aria-label="Object Details" ng-cloak="" flex="50">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>
                        Table structure
                    </h2>
                    <span flex="">
                    </span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon md-font-set="material-icons">
                            close
                        </md-icon>
                    </md-button>
                </div>
            </md-toolbar>
        <md-dialog-content class="bb-margin">
            <!-- card which contains information to all alvailable tables -->
            <md-card ng-show="showTable" ng-repeat="(key, value) in tableData">
                <h3>{{ key }}</h3>

                <md-table-container>
                    <table md-table>
                        <thead md-head >
                        <tr md-row>
                            <th md-column ng-repeat="columnName in value.columnNames"><span>{{columnName}}</span></th>
                        </tr>
                        </thead>
                        <tbody md-body>
                        <tr md-row ng-repeat="row in value.rowEntries">
                            <td md-cell ng-repeat="field in row track by $index">{{field}}</td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
            </md-card>
        </md-dialog-content>
        </md-dialog>
    </body>
</html>