<div class="panel panel-default">
    <div class="panel-heading"><h3>Create Container</h3></div>
    <div class="panel-body">
        <form ng-submit="createContainer()">
            <label for="containerTxt">Container name:</label>
            <input type="text" ng-model="containerName" class="form-control" id="containerTxt" placeholder="ContainerName" required>
            <input type="submit" value="Create" class="btn btn-success">
        </form>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>List of containers</h3>
        <div class="row">
            <p class="col-md-8">
                {{ fileSystem.metadata.containerCount }} containers in total, containing {{ fileSystem.metadata.objectCount }} objects
            </p>
            <form class="form-inline col-md-4">
                <label for="prefix">Filter:</label>
                <input
                        ng-model="prefix"
                        ng-change="getContainers(true)"
                        type="text"
                        class="form-control"
                        id="prefix"
                />
            </form>
        </div>
    </div>
    <div class="panel-body">
        <table
                infinite-scroll="getContainers()"
                threshold="100"
                can-load="!isGetContainersRequestPending && !isEndOfListReached()"
                global
                class="table table-bordered table-hover"
                border="2">
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Objects</th>
                <th>Delete</th>
                <th>Enter</th>
            </tr>
            <tr ng-repeat="container in fileSystem.containers">
                <td>{{ container.name }}</td>
                <td>{{ container.bytes | bytes}}</td>
                <td>{{ container.count }}</td>
                <td>
                    <a ng-click="deleteContainer(container)" type="button" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                        DELETE
                    </a>
                </td>
                <td>
                    <a ui-sref="containerState({containerName: container.name})" type="button" class="btn btn-info">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </a>
                </td>
            </tr>
        </table>
        <div class="text-center">
            <span ng-show="isGetContainersRequestPending" class="glyphicon glyphicon-refresh glyphicon-refresh-animate glyphicon-lg"></span>
        </div>
    </div>
</div>