<div class="panel panel-default">
    <div class="panel-heading"><h3>Create Container</h3></div>
    <form ng-submit="createContainer()">
        <label for="containerTxt">Container name:</label>
        <input type="text" ng-model="containerName" class="form-control" id="containerTxt" placeholder="ContainerName" required>
        <input type="submit" value="Create" class="btn btn-success">
    </form>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>List of containers</h3>
        <p>{{ containers.length }} containers in total</p>
    </div>
    <table
            infinite-scroll="getContainers()"
            threshold="100"
            can-load="!isGetContainersRequestPending && !isEndOfListReached"
            global
            class="table table-bordered table-hover"
            border="2">
        <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Objects</th>
            <th>Enter</th>
        </tr>
        <tr ng-repeat="container in containers">
            <td>{{ container.name }}</td>
            <td>{{ container.bytes }} Bytes</td>
            <td>{{ container.count }}</td>
            <td><a ui-sref="containerState({containerName: container.name})" type="button" class="btn btn-info">>>></a></td>
        </tr>
    </table>
</div>