<div class="panel panel-default">
    <div class="panel-heading"><h3>Create container</h3></div>
    <div class="panel-body">
        <form ng-submit="createContainer()" class="form-horizontal">
            <div class="form-group">
                <label for="containerName" class="col-sm-2 control-label">Container name</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="container.name" ng-trim="false" class="form-control" id="containerName" placeholder="ContainerName" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Object class</label>
                <div class="col-sm-10">
                    <object-class-selector ng-model="container.objectClass" id="objectClass"></object-class-selector>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>
                        Create
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>List of containers</h3>
        <div class="row">
            <p class="col-md-8">
                {{ fileSystem.metadata.containerCount }} containers in total, containing {{ fileSystem.metadata.objectCount }} objects
            </p>
            <form class="form-inline col-md-4">
                <label for="prefix">
                    <span class="glyphicon glyphicon-filter"></span>
                    Filter:
                </label>
                <input
                        ng-model="prefix"
                        ng-change="getContainers(true)"
                        type="text"
                        class="form-control"
                        id="prefix"
                />
            </form>
        </div>
    </div>
    <div class="panel-body">
        <table
                infinite-scroll="getContainers()"
                threshold="100"
                can-load="!isGetContainersRequestPending && !isEndOfListReached()"
                global
                class="table table-hover">
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Objects</th>
                <th>Delete</th>
            </tr>

            <tr ng-repeat="container in fileSystem.containers">
                <td ui-sref="containerState({containerName: container.name})" class="clickable">
                    <img
                            alt="Container icon"
                            ng-src="/angular/icons/file_icon_{{ container.count > 0 ? 'full' : 'empty' }}_32.png">
                    {{ container.name }}
                </td>
                <td ui-sref="containerState({containerName: container.name})" class="clickable">{{ container.bytes | bytes}}</td>
                <td ui-sref="containerState({containerName: container.name})" class="clickable">{{ container.count }}</td>
                <td>
                    <a ng-click="deleteContainer(container)" type="button" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
        </table>
        <div class="text-center">
            <span ng-show="isGetContainersRequestPending" class="glyphicon glyphicon-refresh glyphicon-refresh-animate glyphicon-lg"></span>
        </div>
    </div>
</div>