<!-- Login card -->

<div layout="row">
	<div flex></div>



	<div
		flex="30"
		flex-xs="90"
		class="md-whiteframe-4dp bb-container"
	>
		<md-toolbar class="md-hue-2">
		<div class="md-toolbar-tools">
			<h2>
				<span>Authentication required</span>
			</h2>
		</div>
		</md-toolbar>
		<md-content class="bb-container">
		<form ng-submit="login()">

			<!-- Input of the customer -->
			<md-input-container
				class="md-icon-float md-block"
				flex-gt-sm=""
			> <label>Customer</label> 
			<md-icon md-font-set="material-icons">domain</md-icon>
			<input
				id="tenant"
				type="text"
				disabled
				ng-model="credentials.tenant"
			> </md-input-container>

			<!-- Input of the username -->
			<md-input-container
				class="md-icon-float md-block"
				flex-gt-sm=""
			> <label>Username</label> 
			<md-icon md-font-set="material-icons">person</md-icon>
			<input
				id="username"
				type="text"
				ng-model="credentials.username"
			> </md-input-container>

			<!-- Input of the password -->
			<md-input-container
				class="md-block"
				flex-gt-sm=""
			> <label>Password</label> 
			<md-icon md-font-set="material-icons">vpn_key</md-icon>
			<input
				id="password"
				type="password"
				ng-model="credentials.password"
			> </md-input-container>

			<!-- Button to submit the form and log in -->
			<md-button
				type="submit"
				class="md-raised md-accent"
			> <md-icon md-font-set="material-icons">check</md-icon>Log in </md-button>
		</form>
		</md-content>
	</div>








	<div flex></div>
</div>



