<!-- Login form -->
<md-card>
	<md-card-title>
          <md-card-title-text>
            <span class="md-headline">Please log in</span>
          </md-card-title-text>
    </md-card-title>
	<md-card-content>
          <form ng-submit="login()">

                <!-- Input of the username -->
                <md-input-container class="md-block" flex-gt-sm="">
                        <label>Username</label>
                        <input id="username" type="text" ng-model="credentials.username">
                </md-input-container>

			  	<!-- Input of the password -->
                <md-input-container class="md-block" flex-gt-sm="">
                        <label>Password</label>
                        <input id="password" type="password" ng-model="credentials.password">
                </md-input-container>

                <!-- Button to submit the form and log in -->
                <md-button type="submit" class="md-raised md-primary">
                        Log in
                </md-button>
          </form>
    </md-card-content>
</md-card>