@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(/angular/css/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(/angular/css/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(/angular/css/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


h2 {
	color: white;
}

.bb-navbar {
  background: #64B5F6;
}

md-dialog-content h2 {
	color: black;
}

.bb-large-icon {
	font-size: 2em;
}
.bb-huge-icon {
	font-size: 5em;
}

.bbAllocBlocks {
	max-width: 100%;
	word-break: break-all;
	font-family: monospace;
	line-height: 150%;
}

.bbBlock0 {
	color: black;
	background-color: #ffffff;
}
.bbBlock1 {
	color: white;
	background-color: #ffb3b3;
}
.bbBlock2 {
	color: white;
	background-color: #ff8080;
}
.bbBlock3 {
	color: white;
	background-color: #ff4d4d;
}
.bbBlock4 {
	color: white;
	background-color: #ff1a1a;
}
.bbBlock5 {
	color: white;
	background-color: #e60000;
}
.bbBlock6 {
	color: white;
	background-color: #b30000;
}
.bbBlock7 {
	color: white;
	background-color: #990000;
}
.bbBlock8 {
	color: white;
	background-color: #800000;
}
.bbBlock9 {
	color: white;
	background-color: #660000;
}

.bb-container {
	margin: 1em;
}

.bb-task-box {
	margin: 0.2em;
	padding: 0.2em;
}

.bb-task-box-left {
    text-align: left;
	color: white;
	font-size: 1.3em;
}
.bb-task-box-right {
    text-align: right;
	color: white;
	font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace;
}
.bb-task-box-left, .bb-task-box-right {
	padding: 0.2em;
    display: inline-block;
    width: 48%;
}


.bb-margin {
	margin: 1em;
}

.bb-align-margin-small {
	margin: 0.5em;
	align-items: center;
}

.bb-table-col {
	 word-wrap:break-word;
}

.bb-table-icon-col {
	width: 1em;
}

.bb-table {
	table-layout: fixed;
}

table.md-table tbody.md-body > tr.md-row {
	height: 1.2em;
}
table.md-table thead.md-head > tr.md-row {
	height: 1em;
}

md-input-container .md-errors-spacer {
    min-height: 0;
}


.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;

    text-align: center;
    padding: 1.5em;
    margin: 0.6em;
}
.dragover {
    border: 5px dashed blue;
}

.fade.ng-show {
	transition:0.5s linear all;
	opacity:0;
}
.fade.ng-show-active {
	opacity:1;
}

.bbSmallIcon {
	width: 1.5em;
}