<div class="panel-body">
    <a ui-sref="fileSystemState()" type="button" class="btn btn-info">
        <span class="glyphicon glyphicon-level-up"></span>
        Back to containers
    </a>
    <a type="button" class="btn btn-info">Check Old Files</a>
    <a type="button" class="btn btn-info">Delete Old Files</a>
</div>
<div class="panel panel-default" >
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-1">
                <img
                        alt="Container icon"
                        ng-src="/angular/icons/file_icon_{{ container.metadata.objectCount > 0 ? 'full' : 'empty' }}_64.png">
            </div>
            <div class="col-sm-11">
                <h3>
                    Container: {{ container.name }}
                </h3>
                <p>Object class: {{ container.metadata.objectClass }}</p>
            </div>
        </div>
    </div>
    <div ng-click="showUploadForm = !showUploadForm" class="panel-heading clickable">
        <h4>
            <span class="glyphicon" ng-class="{'glyphicon-chevron-right': !showUploadForm, 'glyphicon-chevron-down': showUploadForm}"></span>
            Upload an object
        </h4>
    </div>
    <div ng-show="showUploadForm" class="panel-body">
        <form ng-submit="uploadObject()" class="form-horizontal">
            <div class="form-group">
                <label for="browseBtn" class="col-sm-2 control-label">File to upload</label>
                <div class="col-sm-10">
                    <input ngf-select ng-model="uploadForm.file" ng-change="uploadProgressPercentage = 0;" type="file" name="objectName" id="browseBtn" required/>
                </div>
            </div>
            <div class="form-group">
                <label for="ownerTxt" class="col-sm-2 control-label">Owner Name</label>
                <div class="col-sm-10">
                    <input ng-model="uploadForm.owner" type="text" class="form-control" id="ownerTxt" placeholder="OwnerName"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Retention Date</label>
                <div class="col-sm-10">
                    <date-input
                            model="uploadForm.retentionDate"
                            id="retentionDate"
                            min-date="datePicker.minDate">
                    </date-input>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success">
                        <span class="glyphicon glyphicon-cloud-upload"></span>
                        Upload
                    </button>
                </div>
            </div>

            <div ng-show="uploadProgress.percentage" class="form-group">
                <label class="col-sm-2 control-label">Upload progress</label>
                <div class="col-sm-10">
                    <div class="progress">
                        <div
                                ng-class="{'progress-bar-success': uploadProgress.percentage === 100, 'progress-bar-striped active': uploadProgress.percentage !== 100}"
                                class="progress-bar"
                                role="progressbar"
                                style="width: {{ uploadProgress.percentage }}%;">
                            {{ uploadProgress.percentage }} % ({{ uploadProgress.loaded | bytes }} / {{ uploadProgress.total | bytes }})
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div ng-show="showUploadForm" class="panel-footer"></div>
    <div class="panel-heading">
        <h4>Object list</h4>
        <div class="row">
            <p class="col-md-8">{{ container.metadata.objectCount }} objects in total</p>
            <form class="form-inline col-md-4">
                <label for="prefix">
                    <span class="glyphicon glyphicon-filter"></span>
                    Filter:
                </label>
                <input
                        ng-model="prefix"
                        ng-change="getObjects(true)"
                        type="text"
                        class="form-control"
                        id="prefix"
                />
            </form>
        </div>
    </div>
    <div class="panel-body">
        <table
                infinite-scroll="getObjects()"
                threshold="100"
                can-load="!isGetObjectsRequestPending && !isEndOfListReached()"
                global
                class="table table-hover">
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Type</th>
                <th>Preview</th>
                <th>Download</th>
                <th>Delete</th>
                <th>Details</th>
            </tr>
            <tr ng-repeat-start="object in container.objects">
                <td>
                    <div ng-if="object.content_type.indexOf('text/') > -1">
                        <img ng-if="object.name.indexOf('.txt') > -1" alt="Data Icon" ng-src="/angular/icons/data_icons/text_txt_32.png"/>
                        <img ng-else alt="Data Icon" ng-src="/angular/icons/data_icons/text_default_32.png" ng-else/>
                        {{ object.name }}
                    </div>
                    <div ng-else-if="object.content_type.indexOf('audio/') > -1">
                        <img ng-if="object.name.indexOf('.txt') > -1" alt="Data Icon" ng-src="/angular/icons/data_icons/text_txt_32.png"/>
                        <img ng-else alt="Data Icon" ng-src="/angular/icons/data_icons/audio_default_32.png"/>
                        {{ object.name }}
                    </div>
                    <div ng-else-if="object.content_type.indexOf('video/') > -1">
                        <img ng-if="object.name.indexOf('.txt') > -1" alt="Data Icon" ng-src="/angular/icons/data_icons/text_txt_32.png"/>
                        <img ng-else alt="Data Icon" ng-src="/angular/icons/data_icons/video_default_32.png"/>
                        {{ object.name }}
                    </div>
                    <div ng-else-if="object.content_type.indexOf('image/') > -1">
                        <img ng-if="object.name.indexOf('.jpg') > -1" alt="Data Icon" ng-src="/angular/icons/data_icons/image_jpeg_32.png"/>
                        <img ng-else-if="object.name.indexOf('.jpeg') > -1" alt="Data Icon" ng-src="/angular/icons/data_icons/image_jpeg_32.png"/>
                        <img ng-else-if="object.name.indexOf('.jpe') > -1" alt="Data Icon" ng-src="/angular/icons/data_icons/image_jpeg_32.png"/>
                        <img ng-else-if="object.name.indexOf('.png') > -1" alt="Data Icon" ng-src="/angular/icons/data_icons/image_png_32.png"/>
                        <img ng-else alt="Data Icon" ng-src="/angular/icons/data_icons/image_default_32.png"/>
                        {{ object.name }}
                    </div>
                    <div ng-else-if="object.content_type.indexOf('application/') > -1">
                        <img ng-if="object.name.indexOf('.xml') > -1" alt="Data Icon" ng-src="/angular/icons/data_icons/application_xml_32.png"/>
                        <img ng-else-if="object.name.indexOf('.docx') > -1" alt="Data Icon" ng-src="/angular/icons/data_icons/application_docx_32.png"/>
                        <img ng-else-if="object.name.indexOf('.doc') > -1" alt="Data Icon" ng-src="/angular/icons/data_icons/application_doc_32.png"/>
                        <img ng-else-if="object.name.indexOf('.xlsx') > -1" alt="Data Icon" ng-src="/angular/icons/data_icons/application_xlsx_32.png"/>
                        <img ng-else-if="object.name.indexOf('.xls') > -1" alt="Data Icon" ng-src="/angular/icons/data_icons/application_xls_32.png"/>
                        <img ng-else-if="object.name.indexOf('.css') > -1" alt="Data Icon" ng-src="/angular/icons/data_icons/application_css_32.png"/>
                        <img ng-else-if="object.name.indexOf('.html') > -1" alt="Data Icon" ng-src="/angular/icons/data_icons/application_html_32.png"/>
                        <img ng-else-if="object.name.indexOf('.pdf') > -1" alt="Data Icon" ng-src="/angular/icons/data_icons/application_pdf_32.png"/>
                        <img ng-else-if="object.name.indexOf('.rtf') > -1" alt="Data Icon" ng-src="/angular/icons/data_icons/application_rtf_32.png"/>
                        <img ng-else alt="Data Icon" ng-src="/angular/icons/data_icons/application_default_32.png"/>
                        {{ object.name }}
                    </div>
                    <div ng-else>
                        <img alt="Data Icon" ng-src="/angular/icons/data_icons/unknown_data_32.png"/>
                        {{ object.name }}
                    </div>

                </td>
                <td>{{ object.bytes | bytes}}</td>
                <td>{{ object.content_type | contentType }}</td>
                <td>
                    <a
                            ng-disabled="(object.content_type.indexOf('application/') > -1) || (object.content_type.indexOf('video/') > -1) || (object.content_type.indexOf('audio/') > -1) "
                            target="_blank"
                            type="button"
                            class="btn btn-success">
                        <span class="glyphicon glyphicon-new-window"></span>
                    </a>
                </td>
                <td>
                    <a
                            ng-href="/swift/containers/{{container.name}}/objects/{{object.name | urlEncode}}"
                            target="_self"
                            type="button"
                            class="btn btn-success">
                        <span class="glyphicon glyphicon-download-alt"></span>
                    </a>
                </td>
                <td>
                    <a ng-click="deleteObject(object)" type="button" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
                <td>
                    <a ng-click="toggleDetails(object)" type="button" class="btn btn-info">
                        <span class="glyphicon" ng-class="{'glyphicon-chevron-right': !object.showDetails, 'glyphicon-chevron-down': object.showDetails}"></span>
                    </a>
                </td>
            </tr>
            <tr ng-if="object.showDetails" ng-repeat-end>
                <td colspan="7">
                    <div class="row">
                        <div ng-show="!object.details" class="col-md-12 text-center">
                            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate glyphicon-lg"></span>
                        </div>
                        <div class="col-md-6">
                            <table class="table table-hover">
                                <tr ng-repeat="(key, value) in object.details | half">
                                    <td>{{ key }}:</td>
                                    <td>{{ value }}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table class="table table-hover">
                                <tr ng-repeat="(key, value) in object.details | half: 2">
                                    <td>{{ key }}:</td>
                                    <td>{{ value }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <div ng-show="isGetObjectsRequestPending" class="text-center">
            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate glyphicon-lg"></span>
        </div>
    </div>
</div>