<div class="panel panel-default">
    <div class="panel-heading"><h3>Upload an object</h3></div>
    <form ng-submit="upload()">
        <label for="browseBtn">Browse the file to upload:</label>
        <input ngf-select ng-model="file" type="file" name="objectName" id="browseBtn" required/>
        <label for="containerTxt">Container name:</label>
        <input ng-model="container.name" type="text" class="form-control" id="containerTxt" readonly required/>
        <label for="ownerTxt">Owner Name:</label>
        <input ng-model="ownerName" type="text" class="form-control" id="ownerTxt" placeholder="OwnerName"/>
        <label for="retentionDate">Retention Date:</label>
        <input ng-model="retentionDate" type="date" class="form-control" id="retentionDate"/>
        <input type="submit" value="Upload" class="btn btn-success"/>
    </form>
</div>

<a ui-sref="fileSystemState()" type="button" class="btn btn-info"><<< Back to containers <<<</a>
<a type="button" class="btn btn-info">Check Old Files</a>
<a type="button" class="btn btn-info">Delete Old Files</a>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>List of objects in container {{ container.name }}</h3>
        <p>{{ container.objects.length }} objects in total</p>
    </div>
    <table
            infinite-scroll="getObjects()"
            threshold="100"
            can-load="!isGetObjectsRequestPending && !isEndOfListReached"
            global
            class="table table-bordered table-hover"
            border="2">
        <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Type</th>
            <th>Download</th>
            <th>Delete</th>
            <th>Details</th>
        </tr>
        <tr ng-repeat="object in container.objects">
            <td>{{ object.name }}</td>
            <td>{{ object.bytes }} Bytes</td>
            <td>{{ object.content_type }}</td>
            <td><a ng-href="/swift/containers/{{container.name}}/objects/{{object.name | urlEncode}}" type="button" class="btn btn-success">GET</a></td>
            <td><a ng-click="deleteObject(object.name)" type="button" class="btn btn-danger">DELETE</a></td>
            <td><a type="button" class="btn btn-info">DETAILS</a></td>
        </tr>
    </table>
</div>