@import url('http://twitter.github.com/bootstrap/assets/css/bootstrap.css');
.alert-container {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.alert {
  position: relative;
  z-index: 999999;
  width: 400px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 35px 8px 14px;
  margin-bottom: 5px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #468847;
  color: #468847;
}

.alert-error {
  background-color: #f2dede;
  border-color: #b94a48;
  color: #b94a48;
}


