<div class="modal-header alert-danger">
    <h3 class="modal-title">
        <span class="glyphicon glyphicon-remove"></span>
        Delete {{ item.type }}
    </h3>
</div>
<div class="modal-body">
    <p>
        Do you really want to delete the {{ item.type }} "{{ item.name }}"?
    </p>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="confirm()">
        <span class="glyphicon glyphicon-remove"></span>
        Delete
    </button>
    <button class="btn btn-primary" type="button" ng-click="cancel()">
        <span class="glyphicon glyphicon-ban-circle"></span>
        Cancel
    </button>
</div>