<html>
<head>
    <link href="/angular/node_modules/bokehjs/build/css/bokeh.min.css" rel="stylesheet" type="text/css"/>
    <link href="/angular/node_modules/bokehjs/build/css/bokeh-widgets.min.css" rel="stylesheet" type="text/css"/>
    <!-- Import doesn't work here; just left as a TODO... currently the import is happening in the header in index.html -->
    <!-- <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.11.0.min.js"></script> -->
    <!-- Analytics card root -->
</head>
<body>

<div layout="column" layout-gt-md="row">

    <!--   ############################################################################# -->
    <!-- MENU AREA -->
    <!--   ############################################################################# -->

    <div class="md-whiteframe-4dp bb-container" flex="40" flex-xs="90">
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <h2>
       <span>
        Select data source and plot type
       </span>
                </h2>
            </div>
        </md-toolbar>
        <md-content class="bb-container">
            <h3>Metadata (swift) -> Postgres (warehouse) -> Node-Red (SQL
                queries)
                -> Bokeh (Plot)</h3>
            <p>
                Analytics runs on metadata replicated to the warehouse and SQL queries in node-red. Results are shown
                here after bokeh renders them server-side. <br>
                The result-table schema from node-red has to be: [0] first column contains keys (stings). [1..n] further
                columns
                with numerical values.
            </p>

            <md-button class="md-raised md-primary" ng-click="showTableStructure($event)">
                <md-icon md-font-set="material-icons">
                    grid_on
                </md-icon>
                Show warehouse tables
            </md-button>
            <md-button class="md-raised md-primary" ng-href="{{ nodered.url }}" target="_blank">
                <md-icon md-font-set="material-icons">
                    code
                </md-icon>
                Open Node-RED editor
            </md-button>

{{ selected_source }}
            <h3>
                Select node-red query and container filter
            </h3>
            <div layout="row">
                <md-input-container flex="40">
                    <md-icon md-font-set="material-icons">
                        list
                    </md-icon>
                    <label>Select query</label>
                    <md-select ng-model="selected_source" ng-click="updateNodeRedSources()"
                               placeholder="Select query">
                        <md-option ng-repeat="source in available_sources" value="{{ source.url }}">
                            <small>{{ source.url }}</small>
                            &nbsp;&nbsp;
                            <b>
                                {{ source.name }}
                            </b>
                        </md-option>
                    </md-select>
                </md-input-container>
                <div flex="10">&nbsp;</div>

                <md-input-container flex="40">
                    <md-icon md-font-set="material-icons">
                        folder_open
                    </md-icon>
                    <label>Container filter</label>
                    <md-select ng-model="selected_container"
                               placeholder="Container filter" ng-click="update_containers()">
                        <md-option ng-repeat="container_name in available_containers" value="{{ container_name }}">
                            {{ container_name }} {{ !container_name ? " -- No filter -- " : "" }}
                        </md-option>
                    </md-select>
                </md-input-container>


            </div>


            <h3>
                Select plot type
            </h3>


            <md-switch class="md-primary" ng-change="table_on && showResultTable()" ng-model="table_on"
                       ng-disabled="!selected_source">
                Show table (raw results)
            </md-switch>
            <md-button class="md-raised md-primary" ng-click="drawPlot('line')" ng-disabled="!selected_source">
                <md-icon md-font-set="material-icons">
                    trending_up
                </md-icon>
                Line graph
            </md-button>
            <md-button class="md-raised md-primary" ng-click="drawPlot('line_log')" ng-disabled="!selected_source">
                <md-icon md-font-set="material-icons">
                    trending_up
                </md-icon>
                Line graph - log scale
            </md-button>
            <md-button class="md-raised md-primary" ng-click="drawPlot('bar')" ng-disabled="!selected_source">
                <md-icon md-font-set="material-icons">
                    equalizer
                </md-icon>
                Bar chart
            </md-button>
            <md-button class="md-raised md-primary" ng-click="drawPlot('bar_log')" ng-disabled="!selected_source">
                <md-icon md-font-set="material-icons">
                    equalizer
                </md-icon>
                Bar chart - log scale
            </md-button>
            <md-button class="md-raised md-primary" ng-click="drawPlot('pie')" ng-disabled="!selected_source">
                <md-icon md-font-set="material-icons">
                    pie_chart
                </md-icon>
                Pie chart
            </md-button>


        </md-content>
    </div>
    <div layout="row">
        <md-progress-circular class="md-accent" md-mode="query" ng-hide="!waitingForPlot" md-diameter="70">
        </md-progress-circular>
        <md-progress-circular class="md-accent" md-mode="query" ng-hide="!waitingForTable" md-diameter="70">
        </md-progress-circular>
    </div>
    <!--   ############################################################################# -->
    <!-- PLOT AREA -->
    <!--   ############################################################################# -->
    <div ng-bind-html="bbplot | to_trusted" flex="100" flex-gt-md="60"></div>


    <!--   ############################################################################# -->
    <!-- TABLE AREA -->
    <!--   ############################################################################# -->
    <div ng-hide="!bbTableData || !table_on" class="md-whiteframe-4dp bb-container" flex="100" flex-gt-md="60">
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <h2>
      <span>
       Results table
      </span>
                </h2>
            </div>
        </md-toolbar>
        <md-content class="bb-container">

            <pre>{{ bbTableData.info }}</pre>
            <p ng-hide="!bbTableData.truncated"><b>Showing only the first 50 rows</b></p>
            <p>Data schema should be: [0] first column contains keys (stings). [1..n] further columns with numerical
                values.</p>

            <md-table-container>
                <table md-table ng-model="bbTableData.table">
                    <thead md-head>
                    <tr md-row>
                        <th md-column ng-repeat="(k, v) in bbTableData.table[0]"><span>{{ k }}</span></th>
                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row ng-repeat="row in bbTableData.table">
                        <td md-cell ng-repeat="(k, v) in row">{{ v }}</td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>


        </md-content>
    </div>

</div>
</body>
</html>