.message-bag.fixed {
    position: fixed;
    top: 0;
    left: 0;
    margin: 20px;
    width: calc(100% - 40px);
    z-index: 100;
}

/* standard styles when no animation is active */
.message-item {
    max-height: 300px;
    overflow-y: auto;
    opacity: 1;
}

/* starting styles for the enter animation */
.message-item.animated.ng-enter {
    transition: opacity 0.5s linear;
    opacity: 0;
}

/* finishing styles for the enter animation */
.message-item.animated.ng-enter.ng-enter-active {
    opacity: 1;
}

/* starting styles for the leave animation */
.message-item.animated.ng-leave {
    transition: opacity 0.5s linear;
    opacity: 1;
}

/* finishing styles for the leave animation */
.message-item.animated.ng-leave.ng-leave-active {
    opacity: 0;
}