<md-dialog aria-label="Create Container" ng-cloak="" flex="60" flex-xs="90">
    <md-toolbar>
        <div class="md-toolbar-tools">
     <span>
      Create Container
     </span>
            <span flex="">
     </span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-font-set="material-icons">
                    close
                </md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="bb-margin">


        <form ng-submit="createContainer()">
            <div flex layout="column">


                <!-- Input of the container name -->
                <md-input-container class="md-block md-icon-float" flex-gt-sm="">
                    <label>
                        Container name
                    </label>
                    <md-icon md-font-set="material-icons">
                        chevron_right
                    </md-icon>
                    <input id="containerName" ng-model="newContainer.name" ng-trim="false" type="text"/>
                </md-input-container>


                <p>
                    <!-- Button to submit the form and create a new container -->
                    <md-button class="md-raised md-warn" ng-disabled="!newContainer.name" type="submit">
                        <md-icon md-font-set="material-icons">
                            done
                        </md-icon>
                        Create
                    </md-button>
                    <md-button class="md-raised md-warn" ng-disabled="!newContainer.name" type="submit"
                               ng-click="cancel()">
                        <md-icon md-font-set="material-icons">
                            done_all
                        </md-icon>
                        Create & Close
                    </md-button>
                </p>


                <md-input-container>
                    <md-switch ng-model="newContainer.sdos" aria-label="sdos encryption">
                        Enable SDOS encryption and cryptographic deletion
                    </md-switch>
                </md-input-container>


                <md-card ng-style="newContainer.sdos && {'opacity': 1, 'background': 'linen'} || {'opacity': 0.3}">
                    <md-card-title>
                        <b>Tree properties</b>
                    </md-card-title>

                    <md-card-content>
                        <div flex layout="row">
                            <div flex>
                                <img alt="Example Key Cascade tree" style="width: 15em;"
                                     src="/angular/icons/example-tree.svg"/>
                            </div>
                            <div flex>
                                <p>The <i>Key Cascade</i> tree structure manages all the object keys in its leaves. The
                                    height
                                    and node degree determine how many keys are available as well as the performance.
                                </p>
                                <p><- This example tree has height <b>2</b> and <b>2</b> partition bits.</p>
                                <md-divider></md-divider>
                                <p>New container will have height <b>{{ newContainer.sdosHeight }}</b> and
                                    <b>{{ newContainer.sdosPartitionBits }}</b> partition bits.
                                    The partitions will have
                                    <b>{{ newContainer.sdosPartitionBits | sdosPartitionBitsToSize }}</b>
                                    slots (2^bits).
                                </p>
                                <p>The Cascade will support up to
                                    <b>{{ newContainer | sdosCapacity | numberFormat }}</b>
                                    object keys.</p></div>
                        </div>

                        <md-slider-container ng-disabled="!newContainer.sdos">
                            <span>Tree height</span>
                            <md-slider flex min="2" md-discrete class="md-primary" max="16"
                                       ng-model="newContainer.sdosHeight">
                            </md-slider>
                            <md-input-container>
                                <input flex type="number" ng-model="newContainer.sdosHeight">
                            </md-input-container>
                        </md-slider-container>
                        <md-slider-container ng-disabled="!newContainer.sdos">
                            <span>Partition bits</span>
                            <md-slider flex min="2" max="16" md-discrete class="md-primary"
                                       ng-model="newContainer.sdosPartitionBits">
                            </md-slider>
                            <md-input-container>
                                <input flex type="number" ng-model="newContainer.sdosPartitionBits">
                            </md-input-container>
                        </md-slider-container>
                    </md-card-content>
                </md-card>


                <md-card ng-style="newContainer.sdos && {'opacity': 1, 'background': 'linen'} || {'opacity': 0.3}">
                    <md-card-title>
                        <b>Deletable key</b>
                    </md-card-title>
                    <md-card-content>


                        <md-radio-group ng-model="newContainer.sdosMasterKey">

                            <div flex layout="row" class="bb-align-margin-small">
                                <div flex>
                                    <img alt="deletable key general example" style="width: 15em;"
                                         src="/angular/icons/dk1.svg"/>
                                </div>
                                <div flex><p>The master key for each cascade is stored encrypted with a <i>deletable</i>
                                    key.</p>
                                    <p>Please select where the deletable key should come from. Note that the
                                        secure-delete
                                        property is derived from this deletable key.</p>

                                </div>
                            </div>
                            <md-divider></md-divider>
                            <md-divider></md-divider>
                            <div flex layout="row" class="bb-align-margin-small">
                                <div flex>
                                </div>
                                <div flex>
                                    <md-radio-button flex
                                                     value="dummy"
                                                     class="md-primary">

                                        <b>Dummy key</b>


                                    </md-radio-button>

                                </div>
                            </div>

                            <md-divider></md-divider>
                            <div flex layout="row" class="bb-align-margin-small">
                                <div flex>
                                    <img alt="deletable key general example" style="width: 15em;"
                                         src="/angular/icons/dk2.svg"/>
                                </div>
                                <div flex>
                                    <md-radio-button flex
                                                     value="static"
                                                     class="md-primary">

                                        <b>Static test key: </b> Uses the same static key every time. Only useful for
                                        testing and debugging.


                                    </md-radio-button>

                                </div>
                            </div>

                            <md-divider></md-divider>
                            <div flex layout="row" class="bb-align-margin-small">
                                <div flex>
                                    <img alt="deletable key general example" style="width: 15em;"
                                         src="/angular/icons/dk3.svg"/>
                                </div>
                                <div flex>
                                    <md-radio-button flex
                                                     value="passphrase"
                                                     class="md-primary">

                                        <b>User password: </b> Uses a password to derive a deletable key. Secure
                                        deletion is provided by setting a new password and <q>forgetting</q> the old
                                        one.
                                        <br>
                                        You must provide the current password before using the container, and provide a
                                        new password before starting secure deletion.


                                    </md-radio-button>

                                </div>
                            </div>

                            <md-divider></md-divider>
                            <div flex layout="row" class="bb-align-margin-small">
                                <div flex>
                                    <img alt="deletable key general example" style="width: 15em;"
                                         src="/angular/icons/dk4.svg"/>
                                </div>
                                <div flex>
                                    <md-radio-button flex
                                                     value="tpm"
                                                     class="md-primary">

                                        <b>Trusted Platform Module (TPM): </b> Uses TPM hardware to securely en/decrypt
                                        the master key. The deletable key is stored inside the TPM, and can never leave
                                        it. Secure deletion is provided by the TPM which can securely replace internal
                                        keys.


                                    </md-radio-button>

                                </div>
                            </div>

                        </md-radio-group>


                    </md-card-content>
                </md-card>


                <md-card ng-style="newContainer.sdos && {'opacity': 1, 'background': 'linen'} || {'opacity': 0.3}">
                    <md-card-title>
                        <b>Batch deletion</b>
                    </md-card-title>
                    <md-card-content>

                        <div flex layout="row" class="bb-align-margin-small">
                            <div flex>


                                <md-input-container>
                                    <md-switch ng-model="newContainer.sdosBatchDelete"
                                               aria-label="sdos batch delete">
                                        <b>{{ newContainer.sdosBatchDelete }}</b>
                                    </md-switch>
                                </md-input-container>
                            </div>
                            <div flex>
                                <p>Names of deleted objects get saved to a log so that secure deletion
                                    (re-keying) can be done later for a batch of objects.
                                </p>
                                <p>Object contents are deleted from the object store but the keys remain, and the names
                                    remain allocated, until batch deletion is triggered. This <q>batch delete</q>
                                    mode can be turned on/off at any time.</p>


                            </div>
                        </div>


                    </md-card-content>
                </md-card>


                <p>
                    <!-- Button to submit the form and create a new container -->
                    <md-button class="md-raised md-warn" ng-disabled="!newContainer.name" type="submit">
                        <md-icon md-font-set="material-icons">
                            done
                        </md-icon>
                        Create
                    </md-button>
                    <md-button class="md-raised md-warn" ng-disabled="!newContainer.name" type="submit"
                               ng-click="cancel()">
                        <md-icon md-font-set="material-icons">
                            done_all
                        </md-icon>
                        Create & Close
                    </md-button>
                </p>


            </div>


        </form>


    </md-dialog-content>
</md-dialog>