<html>
<body>
<md-dialog aria-label="Create Container" ng-cloak="">
    <md-toolbar>
        <div class="md-toolbar-tools">
     <span>
      Create Container
     </span>
            <span flex="">
     </span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-font-set="material-icons">
                    close
                </md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="bb-margin">


        <form ng-submit="createContainer()">
            <!-- Input of the container name -->
            <md-input-container class="md-block md-icon-float" flex-gt-sm="">
                <label>
                    Container name
                </label>
                <md-icon md-font-set="material-icons">
                    chevron_right
                </md-icon>
                <input id="containerName" ng-model="newContainer.name" ng-trim="false" type="text"/>
            </md-input-container>
            <md-input-container>
                <md-switch ng-model="newContainer.sdos" aria-label="sdos encryption">
                    Enable SDOS encryption and cryptographic deletion
                </md-switch>
            </md-input-container>


            <md-slider-container ng-disabled="!newContainer.sdos">
                <span>Tree height</span>
                <md-slider flex min="1" max="16" ng-model="newContainer.sdosHeight">
                </md-slider>
                <md-input-container>
                    <input flex type="number" ng-model="newContainer.sdosHeight">
                </md-input-container>
            </md-slider-container>
            <md-slider-container ng-disabled="!newContainer.sdos">
                <span>Partition bits</span>
                <md-slider flex min="2" max="16" ng-model="newContainer.sdosPartitionBits">
                </md-slider>
                <md-input-container>
                    <input flex type="number" ng-model="newContainer.sdosPartitionBits">
                </md-input-container>
            </md-slider-container>

            <p>

                <!-- Button to submit the form and create a new container -->
                <md-button class="md-raised md-warn" ng-disabled="!newContainer.name" type="submit">
                    <md-icon md-font-set="material-icons">
                        done
                    </md-icon>
                    Create
                </md-button>
                <md-button class="md-raised md-warn" ng-disabled="!newContainer.name" type="submit"
                           ng-click="cancel()">
                    <md-icon md-font-set="material-icons">
                        done_all
                    </md-icon>
                    Create & Close
                </md-button>
            </p>
        </form>


    </md-dialog-content>
</md-dialog>
</body>
</html>