<!-- About card -->
<html>
<body>
<div layout="row" layout-xs="column">
    <div class="md-whiteframe-4dp bb-container" flex="50" flex-xs="90">
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <h2>
       <span>
        Start a new task
       </span>
                </h2>
            </div>
        </md-toolbar>
        <md-content class="bb-container">
            <p>
                MCM uses an Apache Kafka streaming platform to exchange messages between Bluebox and a task runner
                instances. Here you can
                create a new message that will start task execution.
            </p>
            <p>
                <!-- Dropdown to choose Job type -->
                <md-input-container class="md-block md-icon-float" flex-gt-sm="65">
                    <label>
                        Job type
                    </label>
                    <md-icon md-font-set="material-icons">
                        assignment
                    </md-icon>
                    <md-select ng-model="newTaskDefinition.type">
                        <md-option ng-repeat="(k,v) in validTasks" value="{{ k }}">
                            {{ v }}
                        </md-option>
                    </md-select>
                </md-input-container>
                <!-- Dropdown to choose container -->
                <md-input-container class="md-block md-icon-float" flex-gt-sm="65">
                    <label>
                        Swift container
                    </label>
                    <md-icon md-font-set="material-icons">
                        folder_open
                    </md-icon>
                    <md-select ng-model="newTaskDefinition.container">
                        <md-option ng-repeat="c in available_containers" value="{{ c.name }}">
                            {{ c.name }}
                        </md-option>
                    </md-select>
                </md-input-container>
                <!-- fields for tenant and token
                                <md-input-container class="md-icon-float">
                                    <label>
                                        Customer
                                    </label>
                                    <md-icon md-font-set="material-icons">
                                        domain
                                    </md-icon>
                                    <input id="tenant" ng-model="newTaskDefinition.tenant" type="text"/>
                                </md-input-container>
                                <md-input-container class="md-icon-float">
                                    <label>
                                        Authentication token
                                    </label>
                                    <md-icon md-font-set="material-icons">
                                        security
                                    </md-icon>
                                    <input id="token" ng-model="newTaskDefinition.token" type="text"/>
                                </md-input-container>
                -->

                <!-- Button to submit -->
                <md-button class="md-raised md-warn md-hue-2" ng-click="sendMessage()">
                    <md-icon md-font-set="material-icons">
                        send
                    </md-icon>
                    Start task
                </md-button>
            </p>


        </md-content>
    </div>


    <div class="md-whiteframe-4dp bb-container" flex="50" flex-xs="90">
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <h2>
       <span>
        Task types
       </span>
                </h2>
            </div>
        </md-toolbar>
        <md-content class="bb-container">
            <ul>
                <li><b>Identify content types </b>Runs the binary content off each object in the container through
                    the
                    <enquote>libmagic</enquote>
                    tool. This will tell us the mime-type of the object (e.g. image/jpg,...).
                    Then write this result back into the content-type metadata field of the object in Swift. Some
                    clients already set the correct content type, others don't. This task will
                    set the correct type for all objects inside the container.
                </li>
                <li><b>Extract metadata </b>Runs the binary content off each object in the container through a content
                    type specific metadata filter. The
                    resulting metadata are key/value pairs (e.g. subject=hi for an email or resolution=400x500 for an
                    image). These key/value pairs are then stored in Swift as metadata for that object.
                </li>
                <li><b>Replicate metadata </b>From Swift load all metadata key/values for all objects in the container
                    and
                    insert them into the metadata warehouse.
                </li>
                <li><b>Dispose of old objects </b>Inspect the retention-data of all objects inside the container, then
                    delete all the objects whose retention-date lies in the past.
                    Objects without retention-date will be left alone.
                </li>

            </ul>
        </md-content>
    </div>


</div>

<div layout="row" layout-xs="column">
    <div class="md-whiteframe-4dp bb-container" flex="90" flex-xs="100">
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <h2>
       <span>
        Messages &nbsp;&nbsp;&nbsp;</span>
                </h2>
                <md-button class="md-raised" ng-click="clear_all_messages()">clear list</md-button>
                <md-button ng-hide="loading_stopped" ng-disabled="true" style="color: lightgreen;" class="md-raised">Websocket connected</md-button>

            </div>
        </md-toolbar>
        <md-content class="bb-container">

            <md-content flex-xs layout-xs="column" layout="row" layout-wrap>


                <div flex="" layout="column">
                    <div class="bb-task-box" ng-repeat="vals in myMessages">


                        <div ng-style='{background: ui_color_for_msg(vals[0])}'>
                            <div class="bb-task-box-left"><b>{{ vals[0].type }}</b> {{ vals[0].container }}</div>
                            <div class="bb-task-box-right">{{ vals[0].correlation }}</div>
                        </div>

                        <span ng-repeat="msg in vals">
                            <md-icon ng-style='{color: ui_color_for_msg(vals[0])}'
                                     md-font-set="material-icons">{{ ui_icon_for_msg(msg) }}
                            </md-icon>
                            {{ txt_for_msg(msg) }}
                            <br>
                        </span>

                    </div>


            </md-content>
        </md-content>
    </div>
</div>
</body>
