<html>
 <body>
  <md-dialog aria-label="Container Details" ng-cloak="">
   <md-toolbar>
    <div class="md-toolbar-tools">
     <h2 ng-click="enterContainer()">
      {{container.name}}
     </h2>
     <span flex="">
     </span>
     <md-button class="md-icon-button" ng-click="cancel()">
      <md-icon md-font-set="material-icons">
       close
      </md-icon>
     </md-button>
    </div>
   </md-toolbar>
   <md-dialog-content class="bb-margin">
    <p>
     <code>
      {{container}}
     </code>
    </p>
   </md-dialog-content>
   <md-dialog-actions class="" layout="row">
    <md-button aria-label="Enter Container" class="md-fab" ng-click="enterContainer()">
     <md-tooltip md-direction="top">
      Enter container
     </md-tooltip>
     <md-icon md-font-set="material-icons">
      chevron_right
     </md-icon>
    </md-button>
    <span flex="">
    </span>
    <md-fab-toolbar count="0" md-direction="left" md-open="false">
     <md-fab-trigger class="align-with-text">
      <md-button class="md-fab md-warn">
       <md-tooltip md-direction="top">
        Delete container
       </md-tooltip>
       <md-icon md-font-set="material-icons">
        delete_forever
       </md-icon>
      </md-button>
     </md-fab-trigger>
     <md-toolbar class="">
      <md-fab-actions class="md-toolbar-tools">
       <md-button aria-label="really delete?" class="" ng-disabled="true">
        Really delete?
       </md-button>
       <md-button aria-label="cancel" class="md-raised">
        <md-icon md-font-set="material-icons">
         done
        </md-icon>
        No, cancel
       </md-button>
       <md-button aria-label="delete" class="md-raised md-warn" ng-click="deleteContainer()">
        <md-icon md-font-set="material-icons">
         delete_forever
        </md-icon>
        Yes, delete
       </md-button>
      </md-fab-actions>
     </md-toolbar>
    </md-fab-toolbar>
   </md-dialog-actions>
  </md-dialog>
 </body>
</html>