<md-dialog aria-label="Container Details"  ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{selectedRow.name}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
         <md-icon md-font-set="material-icons">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <p>
        Details about the selected container
        </p>
        
      </div>
    </md-dialog-content>

<md-dialog-actions layout="row">
      <md-button class="md-raised md-primary" ng-click="enterContainer()">
      <md-icon md-font-set="material-icons">done</md-icon>
        Enter Container
      </md-button>
      <span flex></span>
      
      <md-button class="md-raised md-warn" ng-click="answer('not useful')">
       <md-icon md-font-set="material-icons">delete_forever</md-icon>
       Delete
      </md-button>
    </md-dialog-actions>
</md-dialog>