<!-- Card where you can create a new container -->


<div layout="row">

	<div
		flex="40"
		flex-xs="90"
		class="md-whiteframe-4dp bb-container"
	>
		<md-toolbar class="md-hue-2">
		<div class="md-toolbar-tools">
			<h2>
				<span>Create a new container</span>
			</h2>
		</div>
		</md-toolbar>
		<md-content class="bb-container">
		<form ng-submit="createContainer()">

			<!-- Input of the container name -->
			<md-input-container
				class="md-block md-icon-float"
				flex-gt-sm=""
			> <label>Container name</label> <md-icon md-font-set="material-icons">chevron_right</md-icon> <input
				id="containerName"
				type="text"
				ng-model="container.name"
				ng-trim="false"
			> </md-input-container>

			<!-- Button to submit the form and create a new container -->
			<md-button
				type="submit"
				class="md-raised md-primary"
				ng-disabled="!container.name"
			>Create </md-button>
		</form>
		</md-content>
	</div>
	<div flex></div>
</div>













<!-- Card which lists all available containers -->
<div
	flex
	class="md-whiteframe-4dp bb-container"
>
	<md-toolbar class="md-hue-2">
	<div class="md-toolbar-tools">
		<h2>
			<span>Listing {{fileSystem.metadata.containerCount}} containers</span>
		</h2>
	</div>
	</md-toolbar>





	<md-content class="bb-container"> <!-- Text input to filter containers --> <md-input-container
		class="md-icon-float md-block"
		flex-gt-sm=""
	> <label>Filter containers by name </label> <md-icon md-font-set="material-icons">filter_list</md-icon> <input
		ng-model="prefix"
		ng-change="getContainers(true)"
	> </md-input-container> <!-- Lists all containers in a table --> <dtable
		options="containerTableOptions"
		rows="fileSystem.containers"
		class="material dt"
		on-row-click="enterContainer({containerName: row.name})"
	> 
	
	<column
		name="Name"
		prop="name"
		flex-grow="3"
	> <column-header> <b>{{$header}}</b></column-header>
	<md-icon md-font-set="material-icons">folder_open</md-icon>
	<i>{{$cell}}</i></column> 
	
	<column
		name="Size"
		prop="bytes"
		flex-grow="1"
	> <column-header> <b>{{$header}}</b></column-header>{{$cell | bytes}}</column> 
	
	<column
		name="Count"
		prop="count"
		flex-grow="1"
	> <column-header> <b>{{$header}}</b></column-header>{{$cell}}</column> 
	
	
	<column
		name=""
		prop="name"
		flex-grow="1"
	> <column-header> &nbsp;</column-header>
	
		<!-- Option buttons -->
	<md-button
		ui-sref="fileSystemState(cell)"
		class="md-fab md-mini md-primary md-hue-1" aria-label="Delete container"
	>
	<md-icon md-font-set="material-icons">delete</md-icon>
	</md-button>
	<md-button
		ui-sref="fileSystemState(cell)"
		class="md-fab md-mini md-primary md-hue-1" aria-label="Details"
	>
	<md-icon md-font-set="material-icons">info_outline</md-icon>
	</md-button>
	
	
	<md-button
		ui-sref="fileSystemState(cell)"
		class="md-fab md-mini md-primary md-hue-1" aria-label="Container menu"
	>
	<md-icon md-font-set="material-icons">menu</md-icon>
	</md-button>
	
	
	</column> 
	
	
	
	
	
	
	</dtable> <!--                 infinite-scroll="getContainers()"
                threshold="100"
                can-load="!isGetContainersRequestPending && !isEndOfListReached()"
                global
                class="material"> --> <!--             <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Objects</th>
                <th></th>
            </tr>

            <tr ng-repeat="container in fileSystem.containers">
                <td ui-sref="containerState({containerName: container.name})" class="clickable">
                    <img
                            alt="Container icon"
                            ng-src="/angular/icons/file_icon_{{ container.count > 0 ? 'full' : 'empty' }}_32.png">
                    {{ container.name }}
                </td>
                <td ui-sref="containerState({containerName: container.name})" class="clickable">{{ container.bytes | bytes}}</td>
                <td ui-sref="containerState({containerName: container.name})" class="clickable">{{ container.count }}</td>

                Button to delete containers
                <td>
                    <md-button ng-click="deleteContainer(container)" class="md-raised md-warn">
                        <span class="glyphicon glyphicon-trash"></span>
                    </md-button>
                </td>
            </tr> -->




	<div
		in-view="$inview&amp;&amp;getContainers()"
		layout="row"
		layout-sm="column"
		layout-align="space-around"
	>
		<h3>
			<span ng-hide="isAllDataLoaded"><md-icon md-font-set="material-icons">mouse</md-icon>Scroll down to load more containers.</span>
		</h3>
	</div>
	<br>


	<!--         Show spinner while loading
        <div layout="row" layout-sm="column" layout-align="space-around" ng-show="isGetContainersRequestPending">
              <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div> --> </md-content>
</div>