<!-- Card where you can create a new container -->
<md-card>
    <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Create new container</span>
          </md-card-title-text>
    </md-card-title>
    <md-card-content>
          <form ng-submit="createContainer()">

                <!-- Input of the container name -->
                <md-input-container class="md-block" flex-gt-sm="">
                        <label>Container name</label>
                        <input id="containerName" type="text" ng-model="container.name"
                                ng-trim="false">
                </md-input-container>

                <!-- Button to submit the form and create a new container -->
                <md-button type="submit" class="md-raised md-primary">
                        <span class="glyphicon glyphicon-plus"></span> Create
                </md-button>
          </form>
    </md-card-content>
</md-card>

<!-- Card which lists all available containers -->
<md-card>
    <md-card-title>
          <md-card-title-text>
            <span class="md-headline">List of {{fileSystem.metadata.containerCount}} containers</span>
          </md-card-title-text>
    </md-card-title>

    <!-- Text input to filter containers -->
    <md-card-actions layout="row" layout-align="end center">
          <md-input-container class="md-block" flex-gt-sm="">
            <label>
                <span class="glyphicon glyphicon-filter"></span>
                    Filter:
            </label>
            <input ng-model="prefix" ng-change="getContainers(true)">
          </md-input-container>
    </md-card-actions>

    <!-- Lists all containers in a table -->
    <md-card-content>
          <dtable 
          options="containerTableOptions" 
          rows="fileSystem.containers" 
          class="material dt"
          on-row-click="enterContainer({containerName: row.name})"
          >
<!--                 infinite-scroll="getContainers()"
                threshold="100"
                can-load="!isGetContainersRequestPending && !isEndOfListReached()"
                global
                class="material"> -->
<!--             <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Objects</th>
                <th></th>
            </tr>

            <tr ng-repeat="container in fileSystem.containers">
                <td ui-sref="containerState({containerName: container.name})" class="clickable">
                    <img
                            alt="Container icon"
                            ng-src="/angular/icons/file_icon_{{ container.count > 0 ? 'full' : 'empty' }}_32.png">
                    {{ container.name }}
                </td>
                <td ui-sref="containerState({containerName: container.name})" class="clickable">{{ container.bytes | bytes}}</td>
                <td ui-sref="containerState({containerName: container.name})" class="clickable">{{ container.count }}</td>

                Button to delete containers
                <td>
                    <md-button ng-click="deleteContainer(container)" class="md-raised md-warn">
                        <span class="glyphicon glyphicon-trash"></span>
                    </md-button>
                </td>
            </tr> -->
        </dtable>



        <div in-view="$inview&&getContainers()" layout="row" layout-sm="column" layout-align="space-around">
		<h3><span ng-hide="isAllDataLoaded">Scroll down to load more</span></h3>
		</div>
		 <br>


<!--         Show spinner while loading
        <div layout="row" layout-sm="column" layout-align="space-around" ng-show="isGetContainersRequestPending">
              <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div> -->
    </md-card-content>
</md-card>